<style>

body {
  counter-reset: question_num;                     /* Set a counter named 'section', and it`s initial value is 0. */
}

/* Question Box
.Q {
    background-color:#ff9900;
    color:black;
    font-size:17px;
    width:100%;
    border:1px solid #666666;
    padding:5px;
}

#FAB57F

 */
.Q {
    background-color:#ffc87c;
    color:black;
    font-size:17px;
    width:100%;
    border:1px solid #666666;
    padding:5px;
}

.Q::before {
    counter-increment: question_num;
    content: "QUESTION " counter(question_num) '\A';
    white-space: pre;
}

.qhelp {
    color:#666666;
    font-size:10px
}

.qhelp::after {
    content: "This is just to practice, you don't have to submit anything."
}



/* code */
.rendered_html pre, .rendered_html code {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    padding: 1px 3px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background: #e6e6e6;
    font-size: 12px;
    line-height: 1.4;
    color: #0052CC;
}



.codeX {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    background-color:#e6e6e6;
    color:#0066ff;
    font-size: 13px;
    line-height: 1.4;
    padding:2px;
    display: inline-block;
}


/* Copy to CONSOLE */
.c2c {
    background-color:#d2d2d2;
    color:#ff8080;
    font-size:13px;
    border:1px solid #bfbfbf;
    padding:1px 3px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}

.c2c::before {
    content: "Copy-paste into Spyder's Console";
}

/* Type in CONSOLE */
.t2c {
    background-color:#d2d2d2;
    color:#ff8080;
    font-size:13px;
    border:1px solid #bfbfbf;
    padding:1px 3px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}

.t2c::before {
    content: "Type into Spyder's Console";
}


/* RUN */
.run {
    background-color:#d2d2d2;
    color:#00b300;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.run::before {
    content: "\25B6" "RUN";
}

/* RUN */
.runcell {
    background-color:#d2d2d2;
    color:#00b300;
    font-size: 12px;
    line-height: 1.4;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.runcell::before {
    content: "RUN current cell";
}



/* Use Editor */
.use_editor {
    background: linear-gradient(to right, #ccffcc 0%, #ffffff 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    color:#66cc66;
    font-size:10px;
    width:50%;
    padding:0px;
    padding-bottom:3px;
    padding-left:7px;
    margin-left: -5px;
    margin-right: 150px;
    margin-bottom: -13px;
}
.use_editor::before {
    content: "Type in EDITOR, hightlight, and click RUN";
    }


/* Use Console */
.use_console {
    background: linear-gradient(to right, #ffe6e6 0%, #ffffff 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    color:#ff9999;
    font-size:10px;
    width:50%;
    padding:0px;
    padding-bottom:3px;
    padding-left:7px;
    margin-left: -5px;
    margin-right: 150px;
    margin-bottom: -13px;
}
.use_console::before {
    content: "Type in CONSOLE and click ENTER";
    }










/* FILE */
.file {
    color:#b36b00;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}

/* important */
.important {
    background-color:#ff4d4d;
    color:black;
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}
.important::before {
    content: "Important:";
}

/* important */
.note {
    background-color:#ffff80;
    color:black;
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}
.note::before {
    content: "Note:";
}


.nomenclature {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    background-color:#ffff80;
    color:black;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding:15px;
    display: inline-block;
    margin-top:5px;
}


/* checkpoint */
.checkpoint {
    background-color:yellow;
    color:blue;
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}

.codeerror {
    background-color:#ffb3b3;
    color:red;
    font-size: 13px;
    line-height: 1.4;
    border:1px solid #ffb3b3;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 3px;
    margin:20px;
    margin-left:25px;
}

.lineerror {
    background-color:#ffb3b3;
    color:red;
    font-size: 13px;
    line-height: 1.4;
    border:1px solid #ffb3b3;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}


/* terminal */
.terminal {
    background-color:black;
    color:white;
    font-size: 12px;
    line-height: 1.4;
    border:1px solid black;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.terminal::before {
    content: "Terminal (i.e. Anaconda Promt)";
}
.terminalBlock {
    background-color:black;
    color:white;
    font-size: 14px;
    line-height: 1.4;
    border:1px solid black;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 3px;
    margin:20px;
    margin-left:25px;
}



/* TASK BOX */
.startTASK {
    background: linear-gradient(to bottom, #b3ffb3 0%, #ffffff 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #009900;
    border-bottom:1px solid #ffffff;
    color:#006600;
    font-size:17px;
    width:100%;
    font-weight: bold;
    padding:5px;
    padding-top:15px;
}
.startTASK::before {
    counter-increment: task_num;
    content: "Task " counter(task_num) ': ';
}

.endTASK {
    background: linear-gradient(to bottom, #ffffff 0%, #b3ffb3 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #009900;
    border-top:1px solid #ffffff;
    color:#006600;
    font-size:13px;
    width:100%;
    font-weight: bold;
    padding:5px;
    padding-top:15px;
}
.endTASK::before {
    content: "End of Task";
}






/* Headers */
h2 {
    background-color:#99d6ff;
    border:1px solid #007acc;
    padding:8px;
}

h3 {
    background-color:#e5e3e2;
    border:1px solid #b3e0ff;
    padding:2px;
}

h4 {
    background-color:#d3d3d3;
    border:1px solid #c0c0c0;
    padding:3px;
}


</style>